@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
 *{
    margin:0;
    padding:0;
    --darkgrey:#2F2F2F;
    --white:#FFFFFF;
    --fadedblack:#202020;
    --lightgray:#6A6A6A;
 }
 body{
    background-color:var(--darkgrey);
    color:var(--white);
 }
 #game-container{
    background-color:var(--fadedblack);
    width:1200px;
    margin:100px auto 100px;
    padding-bottom:30px;
 }
 #header{
    display:flex;
    justify-content:space-between;
    padding:20px;
    border-bottom:5px solid var(--white);
 }
.title, a, #game-titles{
   font-size:25px;
   text-transform:uppercase;
   font-family: 'Press Start 2P', cursive;
}
.highlight, a{
   color:var(--lightgray);
}
a{
   text-decoration:none;
}
a:hover{
   color:var(--white);
}
#game-titles,#score-title{
   display:flex;
   justify-content:space-around;
   margin-top:35px;
}
#score-title{
   font-size:20px;
   font-family: 'Press Start 2P', cursive;
}
#rules{
   border:5px solid var(--white);
   text-align:center;
   width:375px;
   margin:0 auto;
   padding:20px;
}
#rules h4{
   font-family: 'Press Start 2P', cursive;
   text-transform:uppercase;
}
#rules ul{
   padding:10px;
}
#rules ul li{
   list-style:none;
   font-family: 'Roboto Mono', monospace;
   padding:1px;
}
#resultText{
   font-family: 'Roboto Mono', monospace;
   text-align:center;
   margin:20px 0;
   padding:15px 0;
}
#button-container{
   width:375px;
   margin:0 auto;
   text-align:center;
   padding:20px;
}
.playerChoice{
   width:100px;
   height:50px;
   border:5px solid var(--white);
   background-color:var(--fadedblack);
   color:var(--white);
}
.playerChoice:hover{
   background-color:var(--lightgray);
}