@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
 *{
    margin:0;
    padding:0;
    --darkgrey:#2F2F2F;
    --white:#FFFFFF;
    --fadedblack:#202020;
    --lightgray:#6A6A6A;
 }
 body{
    background-color:var(--darkgrey);
    color:var(--white);
 }
 #game-container{
    background-color:var(--fadedblack);
    width:75rem;
    margin:3.75rem auto;
    padding-bottom:1.875rem;
 }
 #header{
    display:flex;
    justify-content:space-between;
    padding:1.25rem;
    border-bottom:5px solid var(--white);
 }
.title, a, #game-titles{
   font-size:1.5625rem;
   text-transform:uppercase;
   font-family: 'Press Start 2P', cursive;
}
.highlight, a{
   color:var(--lightgray);
}
a{
   text-decoration:none;
}
a:hover{
   color:var(--white);
}
#game-titles,#score-title{
   display:flex;
   justify-content:space-around;
   margin-top:2.1875rem;
}
#score-title{
   font-size:1.25rem;
   font-family: 'Press Start 2P', cursive;
}
#rules{
   border:0.3125rem solid var(--white);
   text-align:center;
   width:23.4375rem;
   margin:0 auto;
   padding:1.25rem;
}
#rules h4{
   font-family: 'Press Start 2P', cursive;
   text-transform:uppercase;
}
#rules ul{
   padding:0.625rem;
}
#rules ul li{
   list-style:none;
   font-family: 'Roboto Mono', monospace;
   padding:0.0625rem;
}
#resultText{
   font-family: 'Roboto Mono', monospace;
   text-align:center;
   margin:1.25rem 0;
   padding:0.9375rem 0;
}
#button-container{
   width:23.4375rem;
   margin:0 auto;
   text-align:center;
   padding:1.25rem;
}
.playerChoice{
   width:6.25rem;
   height:3.125rem;
   border:0.3125rem solid var(--white);
   background-color:var(--fadedblack);
   color:var(--white);
}
.playerChoice:hover{
   background-color:var(--lightgray);
}
footer{
   text-align:center;
   font-family:'Roboto Mono', monospace;
   font-size:1rem;
   margin:0.625rem;
}
footer a{
   font-family:'Roboto Mono', monospace;
   font-size:1rem;
   text-transform:lowercase;
}
